{% set id = env["deployment"] %}
resources:
- name: {{ id }}-bucket
  type: storage.v1.bucket
  properties:
    storageClass: STANDARD
    sourceObjects:
        - file: ../echo/dist/echo-0.0.1.tar.gz
    acl:
       - entity: allUsers
         role: READER

outputs:
  - name: bucketName
    value: {{ id }}-bucket


