{% set id = env["deployment"] %}
resources:
- name: {{ id }}-bucket
  type: storage.v1.bucket
  properties:
    storageClass: STANDARD
    acl:
       - entity: allUsers
         role: READER
       - entity: {{ env["username"] }}
         role: EDITOR
{% if (properties['sourceBucket'] and properties['sourceObjects']) %}
  {% for i in range(properties['sourceObjects']| length) %}
- name: {{ id }}-copy-{{ properties['sourceObjects'][i]['file'] }}
  action: gcp-types/storage-v1:storage.objects.rewrite
  properties:
    sourceBucket: {{ properties['sourceBucket'] }}
    sourceObject: {{ properties['sourceObjects'][i]['file'] }}
    destinationBucket: $(ref.{{ id }}-bucket.name)
    destinationObject: {{ properties['sourceObjects'][i]['file'] }}

    {% if properties['sourceObjects'][i]['reader'] %}
- name: {{ id }}-acl-{{ properties['sourceObjects'][i]['file'] }}
  action: gcp-types/storage-v1:storage.objectAccessControls.insert
  properties:
    bucket: $(ref.{{ id }}-bucket.name)
    object: {{ properties['sourceObjects'][i]['file'] }}
    entity: user-{{ properties['sourceObjects'][i]['reader'] }}
    role: READER
  metadata:
    dependsOn:
      - {{ id }}-copy-{{ properties['sourceObjects'][i]['file'] }}
    {% endif %}
  {% endfor %}
{% endif %}
outputs:
  - name: bucketName
    value: $(ref.{{ id }}-bucket.name)


